# global git ignore: https://github.com/github/gitignore/blob/master/Python.gitignore

# Configurations are different in development env. Every one has personal env.
tpl_be/settings.py
# settings file
# exclude all setting files but include example files

*/settings.py

media/
*.pyc



.vscode


# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
*.log.????-??-??*

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
.python-version

# celery beat schedule file
celerybeat-schedule

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
venv

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# mypy
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre type checker
.pyre/

# 配置中心一些临时文件
apps/autoops/management/commands/config_center/*.json
apps/autoops/management/commands/config_center/
apps/autoops/management/commands/*.tar.gz
apps/autoops/management/commands/*.bak

config/
config_center_template

# celery 产生的临时文件
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir

# mac的临时文件
.DS_Store

# celery 产生的pid文件
*.pid


mytest

.vscode
ansible_file/

.idea

